# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Matches the postgres service in docker-compose.yml
DATABASE_URL="postgresql://bodyhealthy:bodyhealthy@localhost:5432/body_healthy?schema=public"

PORT=3000
